---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
      <Header />
			<section>
				<me-blog-cards>
					{
            posts.map((post) => {
              return (
                <kemet-card>
                  <h3><a href={`/blog/${post.id}/`}>{post.data.title}</a></h3>
                  <span class="date">
                    <kemet-icon icon="calendar"></kemet-icon>&nbsp;
                    <FormattedDate date={post.data.date} />
                  </span>
                  <p>{ post.data.excerpt }</p>
                  <div slot="footer">
                    <kemet-button variant="rounded" link={`/blog/${post.id}/`}>
                      Read More <kemet-icon slot="right" icon="chevron-right" size="24"></kemet-icon>
                    </kemet-button>
                  </div>
                </kemet-card>
              );
            })
          }
				</me-blog-cards>
			</section>
		</main>
		<Footer />
	</body>
</html>
